<?xml version="1.0" encoding="UTF-8"?>

<!-- ======================================================================= -->
<!--                                                                         -->
<!--         NOTE: this file must not be included with production build      -->
<!--                                                                         -->
<!-- ======================================================================= -->

<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:security="http://www.springframework.org/schema/security"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<!-- =================================================================== -->
	<!--        Username/paswword security configuration                     -->
	<!--        Pre-auth (header) security configuration                     -->
	<!-- =================================================================== -->


	<security:authentication-manager alias="preAuthenticationAuthenticationManager">
		<security:authentication-provider>
			<security:password-encoder hash="bcrypt"/>
			<security:user-service>
				<security:user name="${user.admin.username}" password="${user.admin.password}" authorities="${user.admin.roles}"/>
			</security:user-service>
		</security:authentication-provider>
		
		<security:authentication-provider ref="preAuthenticatedAuthenticationProvider"/>
	</security:authentication-manager>


	<bean id="switchUserFilter" class="org.springframework.security.web.authentication.switchuser.SwitchUserFilter">
		<property name="userDetailsService" ref="preAuthenticatedUserDetailsService" />
		<property name="usernameParameter" value="SCAN-ISCI-PID"/>
		<property name="targetUrl" value="/auth/index.action" />
	</bean>
		

	<!-- =================================================================== -->
	<!--        Security context for the production environment              -->
	<!-- =================================================================== -->

		
	<beans profile="development">
		<security:http auto-config="true">
			<security:session-management>
				<security:concurrency-control max-sessions="1"/>
			</security:session-management>
			
			<security:custom-filter position="PRE_AUTH_FILTER" ref="requestHeaderAuthenticationFilter"/>
			<security:custom-filter position="SWITCH_USER_FILTER" ref="switchUserFilter"/>
			
			<security:form-login default-target-url="/auth/index.action" login-page="/login.action" />
			<security:logout logout-success-url="/index.action" logout-url="/logout"/>
			
			<security:intercept-url pattern="/auth/**" access="isAuthenticated()"/>
			<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMINISTRATOR')"/>
		</security:http>
	</beans>

</beans>